<div id="wrapper" class="toggled">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li>
            <%= link_to fa_icon("dashboard", text: "Painel"), site_profile_dashboard_index_path %>
          </li>
            <li>
                <%= link_to fa_icon("dollar", text: "Anúncios"), site_profile_ads_path %>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <%= render "partials/flash" %>
      <%= yield %>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
