<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li>
        <a href="<%= backoffice_dashboard_path %>">
          <%= fa_icon("dashboard", text: "Painel") %>
        </a>
      </li>
      <li>
        <a href="<%= backoffice_categories_index_path %>">
          <%= fa_icon("list-ul", text: "Categorias") %>
        </a>
      </li>
    </ul>
  </div>
</div>
